In [ ]:
# Psssss READ ME! üëãüëì
# The purpuse of the following code it to perform transformation of data in order to clean it and make it available for a subsequent analysis
# It will be developed using a class called 'DataTransformer'
# This class will contain different methods which will focus in different data transformation. E.g.:
    # method to delete columns
    # method to standarize columns names (IF NEEDED)
    # method to transform string vaules to lower case
    # method(s) to create new columns
    # method to convert datatype to numeric
    # and any other need detected during the project

In [ ]:
# Imports üì•

# Packages
#-----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Settings
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # to see all columns in DataFrames


# Data 
# -----------------------------------------------------------------------
abc_coorp_df = pd.read_csv("HR RAW DATA.csv", index_col=0)

In [ ]:
# print for testing

abc_coorp_df

In [ ]:
# DataTransformer class definition ‚úçÔ∏è

class DataTransformer:
    def __init__(self, dataframe):
        self.df = dataframe

    def replace_gender_values(self):
        """Replaces the values in the Gender column with 'Male' and 'Female'."""
        self.df['Gender'] = self.df['Gender'].replace({0: 'Male', 1: 'Female'})
    
    def convert_age_to_numbers(self):
        """Converts numbers written in letters (e.g: 'thirty-two') into numbers written in numbers ('32'). It does NOT change the data type!"""
        # create a dictionary with numbers written in letters as keys and numbers in numbers as values
        conversion_dictionary = {
        "one": 1,
        "two": 2,
        "three": 3,
        "four": 4,
        "five": 5,
        "six": 6,
        "seven": 7,
        "eight": 8,
        "nine": 9,
        "ten": 10,
        "eleven": 11,
        "twelve": 12,
        "thirteen": 13,
        "fourteen": 14,
        "fifteen": 15,
        "sixteen": 16,
        "seventeen": 17,
        "eighteen": 18,
        "nineteen": 19,
        "twenty": 20,
        "twenty-one": 21,
        "twenty-two": 22,
        "twenty-three": 23,
        "twenty-four": 24,
        "twenty-five": 25,
        "twenty-six": 26,
        "twenty-seven": 27,
        "twenty-eight": 28,
        "twenty-nine": 29,
        "thirty": 30,
        "thirty-one": 31,
        "thirty-two": 32,
        "thirty-three": 33,
        "thirty-four": 34,
        "thirty-five": 35,
        "thirty-six": 36,
        "thirty-seven": 37,
        "thirty-eight": 38,
        "thirty-nine": 39,
        "forty": 40,
        "forty-one": 41,
        "forty-two": 42,
        "forty-three": 43,
        "forty-four": 44,
        "forty-five": 45,
        "forty-six": 46,
        "forty-seven": 47,
        "forty-eight": 48,
        "forty-nine": 49,
        "fifty": 50,
        "fifty-one": 51,
        "fifty-two": 52,
        "fifty-three": 53,
        "fifty-four": 54,
        "fifty-five": 55,
        "fifty-six": 56,
        "fifty-seven": 57,
        "fifty-eight": 58,
        "fifty-nine": 59,
        "sixty": 60,
        "sixty-one": 61,
        "sixty-two": 62,
        "sixty-three": 63,
        "sixty-four": 64,
        "sixty-five": 65,
        "sixty-six": 66,
        "sixty-seven": 67,
        "sixty-eight": 68,
        "sixty-nine": 69,
        "seventy": 70,
        "seventy-one": 71,
        "seventy-two": 72,
        "seventy-three": 73,
        "seventy-four": 74,
        "seventy-five": 75,
        "seventy-six": 76,
        "seventy-seven": 77,
        "seventy-eight": 78,
        "seventy-nine": 79,
        "eighty": 80,
        "eighty-one": 81,
        "eighty-two": 82,
        "eighty-three": 83,
        "eighty-four": 84,
        "eighty-five": 85,
        "eighty-six": 86,
        "eighty-seven": 87,
        "eighty-eight": 88,
        "eighty-nine": 89,
        "ninety": 90,
        "ninety-one": 91,
        "ninety-two": 92,
        "ninety-three": 93,
        "ninety-four": 94,
        "ninety-five": 95,
        "ninety-six": 96,
        "ninety-seven": 97,
        "ninety-eight": 98,
        "ninety-nine": 99,
        "one hundred": 100
        }
        for index, value in enumerate(self.df["Age"].values): 
            if value in conversion_dictionary:
                self.df["Age"][index] = conversion_dictionary[value]
                print (f"Value '{value}' was transformed into '{conversion_dictionary[value]}'")
                
    def convert_to_numeric(self, column_name, downcast):
        """Converts a column to numeric type. Downcast = 'integer' or 'float'"""
        self.df[column_name] = pd.to_numeric(self.df[column_name], errors='coerce', downcast=downcast)

    def fix_negative_distances(self):
        """Corrects negative values in the DistanceFromHome column."""
        self.df['DistanceFromHome'] = self.df['DistanceFromHome'].abs()

    def drop_redundant_columns(self, columns):
            """Drops redundant columns like 'SameAsMonthlyIncome'. Param columns is a list of columns to de dropped"""
            self.df.drop(columns=columns, inplace=True, errors='ignore')

    # I'm skiping the method for employeenumber column and will come back to it later

    def correct_env_satisfaction_values(self):
        """Transform values higher than 4 into NaN"""
        self.df['EnvironmentSatisfaction'] = self.df['EnvironmentSatisfaction'].apply(lambda x: x if x <= 4 else np.nan)



# the following methods were suggeted by chatGPT. REVIEW, EDIT OR DELETE

    def remove_duplicates(self):
        """Removes duplicate rows."""
        self.df.drop_duplicates(inplace=True)

    def correct_typographical_errors(self):
        """Corrects typographical errors in the MaritalStatus column."""
        self.df['MaritalStatus'] = self.df['MaritalStatus'].replace({'Marreid': 'Married'})

    def get_dataframe(self):
        """Returns the transformed DataFrame."""
        return self.df

In [ ]:
# Instantiating a class object üê£

abc_data = DataTransformer(abc_coorp_df)

# print for checking

abc_data.df.head(2)

In [ ]:
# ‚ñ∂Ô∏è Execute "Age" column data transformation

# convert number written in letters into into numbers written in numbers

abc_data.convert_age_to_numbers()

# convert column to "int"

abc_data.convert_to_numeric("Age","integer")

# print for testing

print (abc_data.df["Age"].unique()) # shouldn't contain any number written in letters 

print (abc_data.df["Age"].dtype) # must be int

In [ ]:
# ‚ñ∂Ô∏è Execute "DistanceFromHome" column data transformation

# Corrects negative values in the DistanceFromHome column

abc_data.fix_negative_distances()


# print for testing
print("Printing 'DistanceFromHome' colum unique values for testing:")
print(abc_data.df["DistanceFromHome"].unique())

In [ ]:
# ‚ñ∂Ô∏è Execute "employeecount" coulumns transformation

columns_to_delete = ["employeecount", "SameAsMonthlyIncome", "Salary", "NUMBERCHILDREN"]

abc_data.drop_redundant_columns(columns_to_delete)

# print for testing

for i in range(len(columns_to_delete)):
    try:
        print(abc_data.df[i])
    except: 
        print(f"Column '{columns_to_delete[i]}' deleted")

abc_data.df.head(2)

In [ ]:
# ‚ñ∂Ô∏è Execute "EnvironmentSatisfaction" column transformation

abc_data.correct_env_satisfaction_values()

# print for testing 

print (abc_data.df["EnvironmentSatisfaction"].unique()) # shouldn't contain any number different than 1,2,3 or 4

In [ ]:
# ‚ñ∂Ô∏è Execute "Gender" column data transformation

# Replace the values in the Gender column with 'Male' and 'Female'

abc_data.replace_gender_values()

# print for checking
print("Printing 'Gender' colum unique values for testing:")
print(abc_data.df["Gender"].unique())

## Dirty code below ‚¨áÔ∏è‚¨áÔ∏è

In [ ]:

# method to delete columns
# add a try / except

column_name = "name"

df.drop(column_name, axis = 1, inplace = True)

print(f"Column '{column_name}' was dropped üóëÔ∏è\n")

# print df to check if the column was removed succesfully

df.head()

In [ ]:
# method to transform string vaules to lower case

column_name = "name"

# overwrite values within the column with values transformed into lowercase 
df[column_name] = df[column_name].str.lower()

print(f"Values in column '{column_name}' were transformed into lowercase üî†->üî°\n")

# print df to check if the column values were transformed succesfully
df.head()

In [ ]:

# example: changing to datetime data type

df[column_name] = pd.to_datetime(df[column_name])

In [ ]:
# Method to replace and change lower/upper columns
#  iterate through all the columns of the DataFrame, convert each to lowercase, and apply a replace to remove the dots.
new_columns = {column: column.lower().replace(".", "") for column in df.columns}

# Check that we have created the dictionary correctly
new_columns

# Once we have the dictionary, let's apply the rename method
df.rename(columns = new_columns, inplace = True)

# Check that the column names have been changed
df.head()

In [ ]:
abc_coorp_df

In [ ]:
abc_coorp_df["Age"].unique()

In [ ]:

"""Converts numbers written in text (e.g: 'thirty-two') into numbers ('32')"""
text_to_number_dict = {
"one": 1,
"two": 2,
"three": 3,
"four": 4,
"five": 5,
"six": 6,
"seven": 7,
"eight": 8,
"nine": 9,
"ten": 10,
"eleven": 11,
"twelve": 12,
"thirteen": 13,
"fourteen": 14,
"fifteen": 15,
"sixteen": 16,
"seventeen": 17,
"eighteen": 18,
"nineteen": 19,
"twenty": 20,
"twenty-one": 21,
"twenty-two": 22,
"twenty-three": 23,
"twenty-four": 24,
"twenty-five": 25,
"twenty-six": 26,
"twenty-seven": 27,
"twenty-eight": 28,
"twenty-nine": 29,
"thirty": 30,
"thirty-one": 31,
"thirty-two": 32,
"thirty-three": 33,
"thirty-four": 34,
"thirty-five": 35,
"thirty-six": 36,
"thirty-seven": 37,
"thirty-eight": 38,
"thirty-nine": 39,
"forty": 40,
"forty-one": 41,
"forty-two": 42,
"forty-three": 43,
"forty-four": 44,
"forty-five": 45,
"forty-six": 46,
"forty-seven": 47,
"forty-eight": 48,
"forty-nine": 49,
"fifty": 50,
"fifty-one": 51,
"fifty-two": 52,
"fifty-three": 53,
"fifty-four": 54,
"fifty-five": 55,
"fifty-six": 56,
"fifty-seven": 57,
"fifty-eight": 58,
"fifty-nine": 59,
"sixty": 60,
"sixty-one": 61,
"sixty-two": 62,
"sixty-three": 63,
"sixty-four": 64,
"sixty-five": 65,
"sixty-six": 66,
"sixty-seven": 67,
"sixty-eight": 68,
"sixty-nine": 69,
"seventy": 70,
"seventy-one": 71,
"seventy-two": 72,
"seventy-three": 73,
"seventy-four": 74,
"seventy-five": 75,
"seventy-six": 76,
"seventy-seven": 77,
"seventy-eight": 78,
"seventy-nine": 79,
"eighty": 80,
"eighty-one": 81,
"eighty-two": 82,
"eighty-three": 83,
"eighty-four": 84,
"eighty-five": 85,
"eighty-six": 86,
"eighty-seven": 87,
"eighty-eight": 88,
"eighty-nine": 89,
"ninety": 90,
"ninety-one": 91,
"ninety-two": 92,
"ninety-three": 93,
"ninety-four": 94,
"ninety-five": 95,
"ninety-six": 96,
"ninety-seven": 97,
"ninety-eight": 98,
"ninety-nine": 99,
"one hundred": 100
}

for index, value in enumerate(abc_coorp_df["Age"].values): 
    if value in text_to_number_dict:
        abc_coorp_df["Age"][index] = text_to_number_dict[value]
        print (f"El valor: {value} se transform√≥ a {text_to_number_dict[value]}")

In [ ]:
abc_coorp_df["Age"].unique()